__pycache__/
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.db-journal
.pytest_cache
.mypy_cache
.ruff_cache
tests/
node_modules/
.env
.env.*
.git
.gitignore
.venv/
venv/
README.md
*.md
Dockerfile
.dockerignore
