__pycache__/
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.db-journal
.pytest_cache/
.ruff_cache/
.mypy_cache/
tests/
node_modules/
.env
.env.*
.git
.gitignore
README.md
.venv/
venv/
*.egg-info/
.DS_Store
Dockerfile
.dockerignore
