__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
.pytest_cache
.ruff_cache
.mypy_cache
tests/
node_modules/
.env
.env.*
.git
.gitignore
.dockerignore
Dockerfile
README.md
*.md
.venv
venv/
*.log
